// 颜色变量
$colors: (
  "primary": #fc6303,
  "white": #ffffff,
  "black": #000000,
  "text": #333333,
  "tip1": #666666,
  "tip2": #999999,
  "placehold": #cccccc,
  "warning": #ffa73f,
  "up": #11b997,
  "down": #d41136
);

// 边框颜色
$border-colors: ("p": map-get($colors, "primary"),
  "g0": #efefef,
  "g1": #dedede);

// -------------------------------------- 字体变量 ------------------------------------
// 字体尺寸变量
$font-size: ("xxxxxs": 18rpx,
  "xxxxs": 19rpx,
  "xxxs": 20rpx,
  "xxs": 22rpx,
  "xs": 24rpx,
  "sm": 26rpx,
  "md": 28rpx,
  "lg": 30rpx,
  "xl": 32rpx,
  "xxl": 34rpx,
  "xxxl": 36rpx,
  "xxxxl": 38rpx,
  "xxxxxl": 40rpx);

// 行高变量
$line-height: ("1": 1,
  "1-5": 1.5,
  "2": 2,
  "2-5": 2.5,
  "3": 3);

// -------------------------------------- 边距变量 ------------------------------------
// 边距类型
$spacing-type: ("m": margin,
  "p": padding);

// 边距尺寸
$spacing-size: ("0": 0,
  "5": 5rpx,
  "10": 10rpx,
  "15": 15rpx,
  "20": 20rpx,
  "25": 25rpx,
  "28": 28rpx,
  "30": 30rpx,
  "35": 35rpx,
  "40": 40rpx,
  "45": 45rpx,
  "50": 50rpx,
  "55": 55rpx,
  "60": 60rpx,
  "65": 65rpx,
  "70": 70rpx);

// -------------------------------------- 工具变量 ------------------------------------
// 方向类型
$direction-type: ("t": top,
  "b": bottom,
  "l": left,
  "r": right);